{% extends 'base.html.twig' %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}
    <H1>Mon compte</H1>
    <br/>
    Bienvenue dans votre compte
    {% if is_granted('ROLE_CANDIDATE') %}
        candidat <strong>{{app.user.firstName}}</strong><br/>
        Votre candidature a bien été envoyée.<br/>
        Un administrateur va la traiter rapidement et vous pourrez ensuite créer votre première formation.<br/>
    {% elseif is_granted('ROLE_INSTRUCTOR') %}
        Professeur <strong>{{app.user.firstName}}</strong><br/>
    {% elseif is_granted('ROLE_STUDENT') %}
        étudiant <strong>{{app.user.nickname}}</strong><br/>
        Nous vous souhaitons une belle découverte de nos formations.<br/>
    {%  endif %}
    <hr>
     Si vous le souhaitez, vous pouvez ici, modifier vos informations personnelles.<br/>
    - Modifier mon mot de passe<br/>


{% endblock %}
