{% extends 'base.html.twig' %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}
    <H1>Mon compte</H1>
    <br/>
    Bienvenue dans votre compte
    {% if app.user.roles == ['ROLE_USER'] %}
        <strong>{{app.user.nickname}}</strong>
    {%  endif %}<br/> Si vous le souhaitez, vous pourrez ici, modifier vos informations personnelles.
    <hr>
    - Modifier mon Pseudo<br/>
    - Modifier mon mot de passe<br/>


{% endblock %}
