{% extends 'base.html.twig' %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}


    <main role="main" class="">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">
                        C'est quoi EcoIT ?
                    </span></span></h3>

            <div class="blog-post">
                <p>C’est un fait, la crise écologique est devenue une urgence majeure. La sixième extinction
                            massive a déjà commencé et le changement climatique se fait de plus en plus ressentir au fil des années.<br/>
                        Mais qu’en est-il d’internet ?<br>
                        En matière d’émissions de CO2, il pollue 1.5 fois plus que le transport aérien. D’ailleurs, en
                        20 ans, le poids d’une page web a été multiplié par 115 (source : https://www.greenit.fr/)<br>
                        Face à ce constat, ECOIT un organisme de formation a été fondé en 2017. Notre objectif est d’être
                        une plateforme d’éducation permettant à tout instructeur expert en accessibilité et en éco-conception
                        web de présenter des modules de cours. <br>
                        À terme, EcoIT désire devenir la référence française pour les développeurs soucieux de leur impact
                        digital. Et pourquoi pas délivrer enfin un label officiel pour classer les sites web selon leur
                        empreinte numérique.
                </p>
            </div>

            {% if app.user == false %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_enregistrement_apprenant') }}">Créer un compte apprenant</a>
            {%  endif %}

            {% if app.user == false %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_candidate_register') }}">Postuler comme formateur</a>
            {%  endif %}



        </div>




        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Sur</span></span></h4>
                <p class="mb-0">
                    <span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Etiam porta </span></span><em><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">sem malesuada magna</span></span></em>
                    <span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> mollis euismod. </span></span>
            </div>

            <div class="p-3">
                <h4 class="font-italic"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Les archives</span></span></h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">mars 2014</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Février 2014</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Janvier 2014</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Décembre 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Novembre 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">octobre 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">septembre 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Août 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">juillet 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Juin 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Mai 2013</span></span></a></li>
                    <li><a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">avril 2013</span></span></a></li>
                </ol>
            </div>

        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->




    <div class="example-wrapper mt-5">
        <h1>Ceci est le contenu de la page Home. Par exemple, les trois dernières formations et le moyen de devenir instructeur</h1>
    </div>

    <div class="row mb-2">


        <div class="col-md-4">



            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="/detail" class="stretched-link">Voir la formation</a>
                    {# stretched-link permet d'englober toute la div de l'article et pas seulement le bouton #}
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
        </div>
    </div>
{% endblock %}