
<footer class="bg-light fixed-bottom text-center">
            &copy; 2020-2022 EcoIT<br/>
            <small>- La formation à léco-conception numérique -<br/>
                <a href="#" class="m-0">Politique de confidentialité</a>.<a href="#" class="m-0">Mentions légales</a>
            </small>
</footer>

