

{#        {% if app.user %}#}
{#                    {% if app.user.roles == ['ROLE_TEACHER'] %}#}
{#                    {% if app.user.roles == ['ROLE_STUDENT'] %}#}


<div class="nav-scroller px-3 mb-2">
    <nav class="nav d-flex justify-content-around">
        <a class="p-2 text-muted" href="{{ path('app_home') }}">Accueil</a>
        <a class="p-2 text-muted" href="{{ path('app_admin') }}">Ma Page admin</a>
        <a class="p-2 text-muted" href="{{ path('app_gestion_formations') }}">Gestion des formations</a>
        <a class="p-2 text-muted" href="{{ path('app_formations') }}">Nos formations</a>
    </nav>
</div>

