



<div class="nav-scroller px-3 mb-2">
    <nav class="nav d-flex justify-content-around">
        <a class="p-2 text-muted" href="/">Accueil</a>
        <a class="p-2 text-muted" href="/admin">Ma Page admin</a>
        <a class="p-2 text-muted" href="/gestionFormations">Gestion des formations</a>
        <a class="p-2 text-muted" href="/formations">Nos formations</a>
    </nav>
</div>

