{% extends 'base.html.twig' %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}
    <div>
        <h1>Merci de bien vouloir vous enregistrer pour accéder aux formations :</h1>
        {{ form(form) }}
    </div>
{% endblock %}

