//.header-custom{
//  background-color: #e0ecd1;
//}

//.footer-custom{
//  background-color: #e0ecd1;
//  text-align: center;
//}


.main-custom{
  padding-top: 80px;
  padding-Bottom: 80px;

}


//A editer avec les couleurs du color-theme
$body-bg: #ffffff;
$body-color: #111;
$theme-colors: (
        "primary": #0EA47A,
        "secondary":#c0ccdc,
        "danger": #ff4136,
        "custom-color": #900,
        "info": #17a2b8,
        "light":#e0ecd1
)
