{% extends 'base.html.twig' %}

{% block title %}{{ nomPage }}{% endblock %}

{% block body %}
    <div>
        <h1>Candidature</h3>
        <h2>Merci de remplir ces quelques informations pour créer votre candidature</h2>
        <h3>Un administrateur vous répondra dans les plus brefs délais </h3>
        {{ form(formCandidate) }}

    </div>
{% endblock %}
