{% extends 'base.html.twig' %}

{#{% block title %}{{ nomPage }}{% endblock %}#}

{% block body %}

    <h1>Ici le détails d'une formation</h1>

    <section class="courses">
        {#            Picture name description#}
        <article>
            <h2>titre du cours</h2>
            <div class="metedata">ecit le 10/05/2018</div>
            <div class="content"><img src="https://plachold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse ipsam molestias provident,
                    repellat vitae?</p>
            </div>


        </article>

    </section>

{% endblock %}